<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Questionário Social</h1>
</div>
<h3> <i class="fa fa-plus-circle"></i> Cadastrar</h3>
<form #cadastro="ngForm" (submit)="salvar(cadastro)">
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="nome" required><br>
    <label for="sexo">Sexo: </label>
    <input type="radio" id="feminino" name="gender" value="f" [(ngModel)]="sexo" required>Feminino
    <input type="radio" id="masculino" name="gender" value="m" [(ngModel)]="sexo" required>Masculino<br>
    <label for="idade">Idade:</label>
    <input type="text" id="idade" name="idade" [(ngModel)]="idade" required><br>
    Cidade:
    <select id="cidade" name="cidade" [(ngModel)]="cidade">
      <option value="1">Itaguatins</option>
      <option value="2">Araguatins</option>
      <option value="3">Araguaina</option>
      <option value="4">Palmas</option>
    </select>
  </div>
  
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="!cadastro.form.valid">
      Salvar
    </button>
    <button type="reset" class="btn btn-secondary" formnovalidate>
      Limpar
    </button>
  </div>
  
</form>

<div>
  Nome da pessoa mais velha: {{ pessoaMaisVelha() }}
  <br>
  Nome da pessoa mais nova: {{pessoaMaisNova()}}
  <br>
  Media da Idade das Mulheres: {{ mediaIdadeF()}}
  <br>
  Media da Idade dos Homens: {{ mediaIdadeM ()}}
  <br>
  Media da Idade por cidade:{{mediaCidade()}}
  <br>
      
</div>
<router-outlet></router-outlet>